  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-light-info elevation-4" *ngIf="loggedIn">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
      <img src="../../../../assets/img/logo.png"
           class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">PLC</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a routerLink="/" class="nav-link">
              <i class="nav-icon fas fa-home"></i>
              <p>Inicio</p>
            </a>
          </li>
          <li *ngFor="let item of aside" [ngClass]="(exist(item.submenu))?'nav-item has-treeview':'nav-item'" >
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-home"></i>
              <p> {{item.mi_nombre}}<i [ngClass]="(exist(item.submenu))?'right fas fa-angle-down':''" ></i></p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item" *ngFor="let subitem of item.submenu" >
                <a routerLink="{{subitem.s1_ruta.replace('.php', '')}}" class="nav-link">
                  <i class="far fa fa-angle-right"></i>
                  <p>{{subitem.s1_nombre}}</p>
                </a>
              </li>
            </ul>
          </li>                         
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->    
  </aside>

