<body class="hold-transition login-page" style="background-color: #360D6C;">
    <div class="sidenav"></div>
        <div class="main">          
            <div class="login-box">
                <div class="login-logo">
                    <a href="#" style="color: #FFF"><b>Projection Life</b> de Colombia</a>
                </div>
                <div class="card">            
                    <div class="card-header">Recuperar Contraseña</div>          
                    <div class="card-body login-card-body">
                            
                            <form #requestReset=ngForm (ngSubmit)="onSubmit()">
                            <label for="email"> Correo Electronico</label>
                            <div class="input-group mb-3">
                              <input id="login" type="text" class="form-control " name="email" required autocomplete="email"  [(ngModel)]="form.email">
                              <div class="input-group-append">
                                <div class="input-group-text">
                                  <span class="fas fa-envelope"></span>
                                </div>
                              </div>
                            </div>
    
    
                            <div class="form-group row">
                                <div class="col-sm-12 text-center">
                                    <button type="submit" class="btn btn-primary" [disabled]="!requestReset.valid">Recuperar</button>
                                </div>
                              </div>
                              <div class="form-group row">
                                <div class="col-sm-12 text-center">
                                <a class="btn btn-link" routerLink="/login">Iniciar sesion</a>
                                </div>
                            </div>
                          </form>
                    </div><!-- /.login-card-body -->
                </div>
            </div>
        </div>
    </body>