<body class="hold-transition login-page" style="background-color: #360D6C;">
    <div class="sidenav"></div>
        <div class="main">          
            <div class="login-box">
                <div class="login-logo">
                    <a href="#" style="color: #FFF"><b>Projection Life</b> de Colombia</a>
                </div>
                <div class="card">      
                    <div class="card-header">Restablecer Contraseña</div>                
                    <div class="card-body login-card-body">
                        <form #responseResetPasswordForm=ngForm (ngSubmit)="onSubmit()">

                            <label for="email"> Correo Electronico</label>
                            <div class="input-group mb-3">
                              <input id="email" type="text" class="form-control " name="email" required autocomplete="email" autofocus [(ngModel)]="form.email"  >
                              <div class="input-group-append">
                                <div class="input-group-text">
                                  <span class="fas fa-envelope"></span>
                                </div>
                              </div>
                            </div>
    
                            <label for="password">Contraseña</label>
                            <div class="input-group mb-3">
                              <input id="password" type="password" class="form-control" name="password" required autocomplete="current-password" [(ngModel)]="form.password"  >
                              <div class="input-group-append">
                                <div class="input-group-text">
                                  <span class="fas fa-lock"></span>
                                </div>
                              </div>
                            </div>
    
                            <label for="password">Confirmar Contraseña</label>
                            <div class="input-group mb-3">
                              <input id="password_confirmation" type="password" class="form-control" name="password_confirmation" required autocomplete="current-password"  [(ngModel)]="form.password_confirmation">
                              <div class="input-group-append">
                                <div class="input-group-text">
                                  <span class="fas fa-lock"></span>
                                </div>
                              </div>
                            </div>
    
                            <div class="form-group row">
                                <div class="col-sm-12 text-center">
                                    <button type="submit" class="btn btn-primary" [disabled]="!responseResetPasswordForm.valid">Restablecer Contraseña</button>
                                </div>
                              </div>
                              <div class="form-group row">
                                <div class="col-sm-12 text-center">
                                <a class="btn btn-link" routerLink="/login">Iniciar sesion</a>
                                </div>
                            </div>
                          </form>
                    </div><!-- /.login-card-body -->
                </div>
            </div>
        </div>
    </body>